@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    opacity: 0; /* Start with hidden state */
    transform: translateY(20px); /* Initial transform */
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Transition effects */
  }
  
  .technologies.animate {
    animation: fadeInUp 2s ease-in-out;
    opacity: 1; /* Show section */
    transform: translateY(0); /* Reset transform */
  }  

.technologies-title {
    position: relative;
    top: 30px;
}

.technologies-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.technologies-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.technologies-icons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 icons per row */
    gap: 4rem;
    align-items: center;
    justify-items: center;
}

.icon-wrapper {
    border-radius: 1rem;
    border: 3px solid #514a9d;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.icon-wrapper:hover {
    transform: scale(1.2);
}

.icon {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: contain;
}

@media(max-width: 768px) {
    .technologies-icons-container {
        grid-template-columns: repeat(2, 1fr); /* 2 icons per row on smaller screens */
        gap: 1rem;
    }

    .technologies-title h1 {
        font-size: 50px;
    }

    .technologies {
        margin: 20px 70px;
    }
}
