@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    opacity: 0; /* Start with hidden state */
    transform: translateY(20px); /* Initial transform */
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Transition effects */
  }
  
  .about.animate {
    animation: fadeInUp 2s ease-in-out;
    opacity: 1; /* Show section */
    transform: translateY(0); /* Reset transform */
  }
  
  .about-title {
    position: relative;
    top: 30px;
  }
  
  .about-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
  }
  
  .about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .about-section {
    display: flex;
    align-items: flex-start; /* Align items at the start of the section */
    gap: 80px;
    width: 100%;
  }
  
  .about-left {
    flex: 1;
    display: flex;
    justify-content: center; /* Align to the start (left) */
  }
  
  .about-left img {
    width: 300px;
    height: auto;
    border-radius: 15px;
  }
  
  .about-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  
  .about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .about-para p {
    text-align: justify;
  }
  
  @media(max-width: 768px) {
    .about {
      gap: 80px;
      margin: 50px 20px;
      //align-items: start;
    }
    .about-title h1 {
      font-size: 40px;
      padding: 0;
    }
    .about-title img {
      width: 100px;
      right: -10px;
    }
    .about-section {
      flex-direction: column;
      align-items: center;
    }
    .about-left {
      display: flex;
      justify-content: center;
    }
    .about-left img {
      width: 180px; /* Adjusted size for smaller screens */
      height: auto;
    }
    .about-right {
      width: 100%;
    }
    .about-para {
      font-size: 18px;
      line-height: 32px;
    }
  }
  