@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Initial state, the element is 20px below and fully transparent */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Final state, the element is fully visible and in place */
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px; /* Space between contact sections */
  margin: 80px 170px; /* Margin around the contact container */
  opacity: 0; /* Initial opacity set to 0 for animation */
  transform: translateY(20px); /* Slightly below the original position */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Smooth transition for opacity and position */
}

.contact.animate {
  animation: fadeInUp 2s ease-in-out; /* Triggering the fade-in and upward animation */
  opacity: 1; /* Full opacity once animation is done */
  transform: translateY(0); /* Element in its final position */
}

.contact-title {
  position: relative;
  top: 30px; /* Position adjustment for the title section */
}

.contact-title h1 {
  padding: 0px 30px;
  font-size: 60px; /* Large font size for the main title */
  font-weight: 600; /* Boldness of the title */
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1; /* Background image of the title section */
}

.contact-section {
  display: flex;
  gap: 150px; /* Space between left and right sections */
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Space between elements in the left section */
}

.contact-left h1 {
  font-size: 60px;
  font-weight: 700; /* Boldness for the heading */
  background: linear-gradient(270deg, #00C9FF 80%, #92FE9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Gradient text for emphasis */
}

.contact-left p {
  max-width: 550px;
  color: #D8D8D8; /* Light color for the paragraph text */
  font-size: 20px;
  line-height: 35px; /* Spacing between lines for readability */
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Space between each contact detail */
  color: #D8D8D8;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between the icon and the detail text */
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px; /* Space between form elements */
  padding: 20px;
  border-radius: 20px; /* Rounded corners for the form container */
}

.contact-right label {
  color: #dedede;
  font-size: 18px;
  font-weight: 500; /* Font weight for labels */
}

.contact-right input {
  border: none;
  width: 700px;
  height: 60px; /* Size of input fields */
  padding-left: 20px; /* Padding inside the input field */
  border-radius: 4px; /* Slight rounding for inputs */
  background: #32323C;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 18px;
}

.contact-right textarea {
  width: 650px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323C;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 20px; /* Slightly larger font for text area */
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px; /* Rounded button shape */
  background: linear-gradient(264deg, #24c6dc -5.09%, #514a9d 106.28%);
  font-size: 18px;
  padding: 20px 60px; /* Padding around the button text */
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer; /* Changes cursor on hover */
  transition: 0.3s; /* Smooth transition for hover */
  align-self: center; /* Center the button */
}

.contact-submit:hover {
  transform: scale(1.1); /* Enlarges button on hover */
  transition: 0.3s;
}

/* Responsive styling for tablet screens */
@media (max-width: 1024px) {
  .contact {
    gap: 50px;
    margin: 50px 70px;
    align-item: start; /* Adjust alignment for smaller screens */
  }

  .contact-title h1 {
    padding: 0;
    font-size: 40px; /* Smaller font size for the title */
  }

  .contact-section {
    flex-direction: column; /* Stack sections on smaller screens */
    gap: 50px;
  }

  .contact-right input {
    width: 550px;
    font-size: 16px; /* Adjust font size and width */
  }
}

/* Responsive styling for mobile screens */
@media (max-width: 480px) {
  .contact {
    gap: 40px;
    margin: 50px 50px; /* Smaller margin for compact view */
  }

  .contact-title h1 {
    font-size: 40px; /* Smaller title */
  }

  .contact-section {
    width: 100%; /* Full width on mobile */
  }

  .contact-right input {
    font-size: 14px;
    width: 230px; /* Narrower inputs for mobile */
  }

  .contact-right textarea {
    font-size: 14px;
    width: 200px; /* Narrower text area for mobile */
  }

  .contact-submit {
    font-size: 16px; /* Smaller button on mobile */
    padding: 15px 35px;
  }

  .contact-detail{
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .contact {
    gap: 40px;
    margin: 50px 50px; /* Smaller margin for compact view */
  }

  .contact-title h1 {
    font-size: 40px; /* Smaller title */
  }

  .contact-section {
    width: 100%; /* Full width on mobile */
  }

  .contact-right input {
    font-size: 14px;
    width: 230px; /* Narrower inputs for mobile */
    align-items: center;
  }

  .contact-right textarea {
    font-size: 14px;
    width: 200px; /* Narrower text area for mobile */
  }

  .contact-right{
    align-items: center;
  }

  .contact-submit {
    font-size: 16px; /* Smaller button on mobile */
    padding: 15px 35px;

  }

  .contact-detail p{
    font-size: 15px;
  }

  .contact-detail img{
    width: 20px;
  }
}

@media (max-width: 425px){
  .contact-detail p{
    font-size: 17px;
  }

  .contact-detail img{
    width: 15px;
  }
}