.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 170px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: calc(100% - 340px);
    z-index: 100;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.nav-logo {
    width: 120px;
    height: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 17px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #24c6dc 0.36%, #514a9d 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close, .nav-mob-open {
    display: none;
}

.nav-menu li p {
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-menu li p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #24c6dc;
    transition: width 0.3s ease;
}

.nav-menu li:hover p::after {
    width: 100%;
}

.selected p {
    color: #24c6dc;
}

.selected p::after {
    width: 100%;
    background-color: #24c6dc;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .navbar {
        margin: 0;
        padding: 15px 30px;
        width: calc(100% - 60px);
    }

    .nav-logo {
        width: 100px;
    }

    .nav-menu {
        gap: 40px;
        font-size: 16px;
    }

    .nav-connect {
        font-size: 14px;
        padding: 15px 30px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 10px; /* Adjusted padding for mobile */
        width: 100%;
        margin: 0;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        top: 15px;
        right: 30px; /* Adjusted position for better visibility */
        width: 30px;
        height: auto;
        cursor: pointer;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 20px;
        right: -140px; /* Adjusted position for better visibility */
        width: 25px;
        height: auto;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        gap: 30px;
        background-color: rgba(31, 0, 22, 0.9) !important; /* Ensure background color is applied */
        width: 250px; /* Adjusted width */
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -250px; /* Adjusted to match the width */
        color: white; /* Ensure text color for better contrast */
    }

    .nav-menu li {
        font-size: 24px;
        padding-left: 30px; /* Adjusted padding */
        flex-direction: row;
        gap: 20px;
    }

    .nav-menu li p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .nav-logo {
        width: 80px;
    }

    .nav-menu {
        width: 200px; /* Adjusted for very small screens */
        //background-color: #fff; /* Ensure background color is applied */
        color: white; /* Ensure text color for better contrast */
        //background: linear-gradient(267deg, #24c6dc 0.36%, #514a9d 102.06%);
    }

    .nav-menu li {
        font-size: 20px;
        padding-left: 20px; /* Adjusted padding */
    }
}
